.main {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* margin: 0px; */
  min-height: 10vh;
  justify-content: space-around;
}

.main input {
  box-shadow: 0 3px 7px black;
  padding: 14px;
  background-color: whitesmoke;
  border-radius: 7px;
}

.main button {
  padding: 5px;
  background: #d2e0ed;
  border-radius: 7px;
  min-width: 13vw;
}

/* .progressBar {
  height: 10px;
  background-color: rgb(87, 114, 118);
} */

.progress {
  width: 100%;
  padding: 0 2em;
  /* background-color: rgb(87, 114, 118); */
}

/* Dynamically update the width of the progress bar */
.active {
  width: 0%;
  transition: width 1s ease-in-out;
  background-color: green;
  text-align: end;
  border-radius: 4px;
}

.frame {
}
