.main {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  min-height: 10vh;
  justify-content: space-around;
}

.main input {
  box-shadow: 0 3px 7px black;
  padding: 14px;
  background-color: whitesmoke;
  border-radius: 7px;
}

.main button {
  padding: 5px;
  background: #d2e0ed;
  border-radius: 7px;
  min-width: 13vw;
  margin: 6px;
}

.progress {
  width: 100%;
  padding: 0 2em;
}

.active {
  width: 0%;
  transition: width linear;
  background-color: green;
  text-align: end;
  border-radius: 4px;
}

.frame {
  margin: 4px;
}

.frame img {
  width: 100%;
  height: 100%;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
