.main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 8vh;
  justify-content: space-between;
}

.main textarea {
  flex: 1;
  /* width: 62vw; */
  height: 3.5vh;
  border-radius: 6px;
  box-shadow: 1px 3px 5px #4e4c4c;
  border: white;
  padding-left: 15px;
  padding-top: 8px;
}

.main form span {
  font-size: 12px;
  text-align: center;
  width: 85%;
}

.main .inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 62vw;
}

.main button {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #4e4c4c;
  color: white;
  border: none;
}
